---
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
if (!session || !session.user) {
    return Astro.redirect("/");
}
const user_name = session.user.name!.split(" ")[0] ?? "";
---

<main>
    <ul class="container_messages">
        <li class="message bot">
            <div>
                <img src="/bot.png" class="sender_image" />
                <span>Bot</span>
            </div>
            <p>Hola {user_name}, en que puedo ayudarte?</p>
        </li>
    </ul>
    <form class="form_chat">
        <input type="text" placeholder="Escribe tu mensaje..." />
        <button type="submit" disabled>Enviar</button>
    </form>
    <small></small>
    <template class="template_message">
        <li class="message">
            <div>
                <img class="sender_image" />
                <span></span>
            </div>
            <p></p>
        </li>
    </template>
</main>
<span class="gpu_info"></span>
<style>
    main {
        position: relative;
        box-shadow: 0px 0px 10px #0004;
        background-color: #fff;
        border: 0;
        border-radius: 15px;
        padding: 14px 10px;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        > .form_chat {
            width: 100%;
            display: flex;
            margin-bottom: 8px;
            gap: 10px;
            > input {
                flex: 1;
                padding: 3px 5px;
                border-radius: 10px;
                border: 0.5px solid;
                font-size: 0.9rem;
            }
            > button {
                border: 0;
                border-radius: 5px;
                padding: 3px 5px;
                background-color: #48e;
                color: #fff;
                cursor: pointer;
                &[disabled] {
                    background-color: #ccc;
                    pointer-events: none;
                }
            }
        }
    }
    .container_messages {
        padding: 0 7px;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        overflow-x: none;
        scroll-behavior: smooth;
        & .message {
            width: fit-content;
            display: flex;
            flex-direction: column;
            > div {
                width: min-content;
                height: 30px;
                margin-bottom: 10px;
                padding: 6px 7px;
                border: 0;
                border-radius: 18px;
                background-color: rgba(0, 255, 255, 0.398);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                > .sender_image {
                    width: 25px;
                    height: 25px;
                    border-radius: 99999px;
                }
                > span {
                    font-weight: 700;
                    font-size: 0.9rem;
                }
            }
            > p {
                width: fit-content;
                max-width: 320px;
                overflow-x: auto;
                text-wrap: wrap;
                border-radius: 10px;
                padding: 6px;
                font-size: 0.9rem;
            }
        }
    }
    .bot {
        align-self: flex-start;
        align-items: flex-start;
    }
    .user {
        align-self: flex-end;
        align-items: flex-end;
        > div {
            flex-direction: row-reverse;
        }
    }
    small {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(183, 8, 8);
    }
    .gpu_info {
        user-select: none;
        position: fixed;
        left: 30px;
        bottom: 10px;
    }
</style>
<script src="./chat.ts"></script>
