---

---

<div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <img src="/icons/load.svg" />
            <span class="content-load-engine">Descargando recursos...</span>
        </div>
    </div>
</div>
<style>
    #myModal {
        border: 1px solid;
        backdrop-filter: blur(10px);
        z-index: 10;
        align-content: center;
        user-select: none;
        & .modal-content {
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            > img {
                transform: scale(0.6);
            }
            > .content-load-engine {
                /* padding: 30px; */
                position: relative;
                font-size: 0.8rem;
                top: -40px;
                width: 90%;
                text-wrap: wrap;
            }
        }
    }
</style>
